/* Variables Globales */
:root{
    --cl-textos: #181818;
    --cl-blanco: #ffffff;
    --cl-morado: #553E7C;
    --cl-background: #f0f0f0;
    --cl-azul: #07a;
    --fondo-codigo: #00051f;
}

/* Estilos globales */
html{
    scroll-behavior: smooth;
}
*, *::before, *::after, 
*:before, *:after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--cl-background);
}

h1, h2, h3, h4, h5{
    color: var(--cl-textos);
}
h2, h3, h4, h5{
    font-weight: 500;
}
h1{
    font-weight: 700;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 26px;
}

h4{
    font-size: 24px;
}

h4{
    font-size: 22px;
}

p{
    font-size: 16px;
    color: var(--cl-textos);
}
.section{
    margin-top: 50px;
}
.cl-azul{
    color: var(--cl-azul);
}
.destacado{
    padding: 15px;
    background-color: white;
    box-shadow: 2px 2px 8px rgb(212 212 212);
    border-radius: 10px;
    margin-bottom: 30px;
}
li{
    margin-top: 15px;
}


/* Fin estilos globales */

/* Header */
.header{
    background-color: var(--cl-morado);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.header .nav{
    flex-direction: column;
}
.header .nav .burger-menu{
    color: var(--cl-blanco);

}
.header ul{
    list-style: none;
    margin: 0;
    display: none;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--cl-morado);
    z-index: 90;
}
.header ul.open{
    display: block;
}
.header a{
    display: inline-block;
    padding: 10px;
    color: var(--cl-blanco);
}
.header h1{
    font-size: 25px;
    margin: 0;
    color: var(--cl-blanco);
}
.header .sub-menu{
    position: relative;
}
.header .drop-down{
    position: absolute;
    width: auto;
    margin: 0;
    padding: 0;
    display: none;
    background-color: var(--cl-morado);
    z-index: 90;
}

/* Footer */
.footer{
    margin-top: 50px;
    padding: 25px 15px;
    background-color: var(--cl-morado);
}
.footer p{
    color: var(--cl-blanco);
    margin: 0;
}

/* Button Scroll Top */
.btn-scroll-top{
    width: 25px;
    height: 25px;
    background-color: var(--cl-morado);
    padding: 18px;
    border-radius: 50%;
    border: 1px solid var(--cl-blanco);
    position: fixed;
    display: none;
    right: 1rem;
    bottom: 2rem;
    cursor: pointer;
}
.show{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-scroll-top span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cl-blanco);
}
.codigo{
    background-color: var(--fondo-codigo);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}
.codigo code{
    --cl-azul: #2cc0ff;
    color: var(--cl-blanco);
    font-size: 16px;

}
.codigo pre{
    margin-bottom: 0;
}
.codigo strong{
    text-decoration: underline;
}

/* Media queris */
@media screen and (min-width: 1200px){
    .header{
        flex-direction: row;
        align-items: center;
    }
    .header .nav{
        flex-direction: row;
    }
    .header .nav .burger-menu{
        display: none;
    }
    .header ul{
        display: flex;
        flex-direction: row;
        position: relative;
    }
    .header .sub-menu:hover .drop-down{
        display: block;
    }
}